body{
  background-color: #161d28;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25vmin;
  filter: invert(100%);
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 15vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#room-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 1280px) {
  #room-list{justify-content: space-around;}
}
.room-image {
  height: auto;
  width: 24%;
  min-width: 320px;
  border-radius: 2em;
  cursor: pointer;
  transition: opacity 500ms ease;
  opacity: 1;
}
.room-image:first-child{
  padding-left: 0;
}
.room-image:last-child{
  padding-right: 0;
}
.room-image:hover {
  opacity: 0.5;
}
