.a-enter-vr { 
  position: fixed !important;
}
.ui.segment.pushable{
  height: 100vh;
}
.button .icon-bar {
  background-color: #888;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.button .icon-bar+.icon-bar{
  margin-top: 4px;
}
.button.scene-button{
  background: rgba(255, 255, 255, 0.23);
  padding: 9px 10px;
  /* float: left; */
  position:absolute;
  border-top-left-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0;
  left: 0px;
  z-index: 10;
  border: none;
  cursor: pointer;
}

/*--------------- Sidebar CSS ----------------*/

.shape-btn{
  font-size: 14px;
}
.ui.inverted.icon.menu{
  display: flex;
  justify-content: center;
}
.ui.inverted.icon.menu .item.warning{
  color: rgb(255, 88, 88);
}
.ui.inverted.icon.menu .item{
  color: rgb(199, 199, 199);
}
.ui.selection.dropdown {
  background-color: #1b1c1d;
  color: rgb(199, 199, 199);
}
.ui.basic.segment {
  padding: 0;
}
.ui.header{
  letter-spacing: 0.3rem;
  font-weight: 400;
}
.ui.segment{
  background-color: transparent;
  border: none
}

/*-------------- /Sidebar CSS ----------------*/